:root {
  --highlight-color: rgb(255, 0, 251);
  --orange-color: #e89d1b;
  --cream-color: #fcf4de;
  --heading-color: rgb(89, 1, 89);
  --text-color: #3f013f;
  --bg-color: #a17ca180;
  --bold-bg-color: rgb(79, 2, 109);
  --dark-bg-color: rgb(35, 0, 49);
  /* --light-bg-color: rgb(247, 247, 213); */
  --light-bg-color: rgb(251, 246, 237);
  /* --input-bg-color: rgb(248, 248, 240); */
  --light-ss-ff: 'Raleway', sans-serif;
  --bold-s-ff: 'Playfair Display', serif;

  /* --test-size: calc(20% + 12vmax); */
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.loading {
  color: var(--text-color);
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 800;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0.5rem;
  padding: calc(0.2rem + 3vw);
  padding-bottom: 3rem;
  width: 90%;
  height: 90%;
  max-width: 600px;
  max-height: 800px;
  z-index: 1;
  background: var(--text-color);
  color: var(--light-bg-color);
  border-radius: 15px;
  overflow: scroll;
  /* box-shadow: 0px 0px 18px var(--highlight-color); */
}

.modal a {
  padding: 0;
}

.exitContainer {
  /* border: 1px solid yellow; */
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exitContainer:hover {
  opacity: 0.7;
}

.exit {
  color: var(--highlight-color);
  font-size: 1.2rem;
  font-size: calc(0.8rem + 2vw);
}

.modalTitle {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-size: calc(1rem + 2vw);
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: var(--highlight-color);
}

.modal p {
  padding: 0.5rem 0;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-bg-color);
}

.container {
  /* border: 1px dotted yellow; */
  margin: 0 auto;
  padding: 0 1em;
  max-width: 100em;
}

.header {
  width: 100%;
  background: var(--bold-bg-color);
}

.header__container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, max-content) 1fr;
  align-items: center;
  justify-content: space-around;
}

.header__logo {
  /* border: 1px dotted white; */
  padding: 0.8rem;
  padding: calc(0.4rem + 1vh);
  grid-column: 2 / 3;
  font-family: var(--light-ss-ff);
  font-size: calc(1.1rem + 4vw);
  font-size: clamp(1rem, 1rem + 2vw, 2rem);
  font-weight: 300;
  color: var(--highlight-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  line-height: 1.1;
}

.header__info {

  font-size: clamp(0.6rem, 0.5rem + 1vw, 1.5rem);
  justify-self: end;
  border: 1px solid var(--highlight-color);
  border-radius: 50%;
  background: var(--highlight-color);
  color: var(--bold-bg-color);
}

main {
  /* border: 1px solid red; */
  width: 100%;
  /* max-width: 600px; */
  height: 100%;
  /* padding: 2rem 0; */
  /* margin-bottom: auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  /* gap: 3rem; */
  flex: 1 0 100%;
}

.hero {
  /* border: 1px dotted limegreen; */
  width: 100%;
  background-image: linear-gradient(90deg, var(--dark-bg-color) 50%, var(--cream-color) 50%);
}

.hero__container {
  /* height: 50em; */
  margin: 0 auto;
  max-width: 80em;
  padding-top: clamp(4em, calc(20em - 14vmax), 20em);
  padding-bottom: 4em;
  padding-inline: clamp(1em, calc(1em + 2vw), 2em);
  background-image: linear-gradient(transparent 0%, var(--dark-bg-color) 20%), url('./assets/heroImage.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

.hero__title {
  /* border: 1px dashed yellow; */
  width: clamp(50%, 15em, 100%);
  font-family: var(--bold-s-ff);
  color: var(--light-bg-color);
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 0.5em;
}

.hero__title_highlight {
  color: var(--highlight-color);
}

.hero__text {
  width: clamp(50%, 40em, 100%);
  font-family: var(--light-ss-ff);
  color: var(--light-bg-color);
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: clamp(3em, 8em - 10%, 8em);
}

.clickable {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.clickable:hover {
  opacity: 0.8;
}

.hero__form {
  /* border: 1px dotted greenyellow; */
  width: max(50%, 50em);
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.form__search, .form__filter {
  flex: 1 0 15em;
  max-width: 500px;
}


.form__label {
  color: var(--light-bg-color);
  font-size: 0.8rem;
}

.form__btn {
  padding: 0.7rem;
  border: none;
  border-radius: 3px;
  font-family: var(--light-ss-ff);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  width: 100%;
  /* max-width: 40rem; */
}

.form__btn_primary {
  background-color: var(--orange-color);
  color: var(--light-bg-color);
}

.form__btn_secondary {
  background-color: transparent;
  color: var(--orange-color);
  /* This creates the outline of the filter button without adding to the height, so it has the same dimensions as the search button */
  box-shadow: inset 0 0 0 2px var(--orange-color);
  background-clip: padding-box;
}

.form__icon {
  margin-left: -2rem;
  margin-top: -1.2rem;
}

.form__input, .form__select {
  position: relative;
  display: flex;
  align-items: center;
}

input, select {
  /* display: block; */
  margin-top: 0.3em;
  margin-bottom: 2em;
  font-family: var(--light-ss-ff);
  border: none;
  border-radius: 3px;
  padding: 0.7rem 0.5rem;
  background: var(--light-bg-color);
  color: var(--text-color);
  width: 100%;
  /* max-width: 20rem; */
  /* min-width: 9rem; */
}

/* This keeps the input background from turning color when you autofill */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--light-bg-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

input:autofill {
  box-shadow: 0 0 0 1000px var(--light-bg-color) inset !important;
  color: var(--text-color) !important;
}

.inputContainer {
  /* display: flex; */
}

.deleteContainer {
  /* display: inline-flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin-left: -1.2rem; */
}

.form__delete_icon {
  font-size: 1.4rem;
  color: var(--highlight-color);
}

button:hover {
  transition: all 0.5s;
  /* background: rgb(247, 187, 5); */
}

button:active {
  transform: scale(0.98);
}

select {
  text-transform: capitalize;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

h2, h3 {
  padding: 0 1.5rem;
  text-align: center;
  font-family: var(--bold-s-ff);
  color: var(--heading-color);
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 700;
}

h2 {
  font-size: 1.4rem;
  text-transform: capitalize;
}

h3 {
  margin-bottom: 0.7rem;
}

p {
  font-size: 0.7rem;
  line-height: 1.3rem;
}

.fetchedInfo {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  /* max-width: 1600px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  row-gap: 3rem;
  /* column-gap: 1%; */
}

.imageInfo {
  width: 94%;
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.imageContainer {
  width: 100%;
}

.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  width: 100%;
  object-fit: fill;
  object-fit: cover;
  object-fit: contain;
  border-radius: 15px;
  /* flex: 1 1 100%; */
}

.arrow {
  color: var(--highlight-color);
  font-size: 1.5rem;
  font-size: calc(1rem + 2vw);
  cursor: pointer;
}

.arrow:hover {
  opacity: 0.7;
}

.clicked {
  animation: growShrink 1s;
  font-size: 3rem;
}

@keyframes growShrink {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0)
  }
}

.navContainer {
  width: 100%;
  max-width: 99vw;
  padding: 0 2%;
  /* margin-top: 2%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  /* overflow: hidden; */
}

.navDots {
  max-width: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* gap: 1.1vw; */
  flex: 0 10 fit-content;
}

.dotContainer {
  /* border: 1px solid rgb(13, 255, 0); */
  /* max-width: 100%; */
  width: 7vw;
  height: 4vw;
  /* max-width: 1.5rem; */
  padding: 1vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  /* border: 1px solid purple; */
  width: 0.3rem;
  height: 0.3rem;
  background: var(--highlight-color);
  border-radius: 50%;
}

.active {
  -webkit-animation: grow 0.25s;
  animation: grow 0.25s;
  width: 0.6rem;
  height: 0.6rem;
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.detailsContainer {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  row-gap: 2rem;
  column-gap: 6%;
}

.ingredients {
  width: 94%;
  display: flex;
  flex-direction: column;
}

.itemContainer {
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 15px;
  padding: 1.2rem 0;
}

.itemGrid {
  width: max-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 0.3rem;
}

.itemGrid span {
  font-size: 0.9rem;
}

.measure {
  text-align: right;
}

.instructions {
  width: 94%;
}

#actualInstructions {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.instructions p {
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 15px;
  padding: 1.2rem;
}

.footer {
  width: 100%;
  background: var(--dark-bg-color);
  color: var(--light-bg-color);
}

.footer__container {
  /* border: 1px dotted yellow; */
  padding: clamp(1em, 1em + 1vmin, 2em) 0;
  font-family: var(--light-ss-ff);
  font-size: 0.8rem;
  letter-spacing: 0.1ch;
  width: clamp(15em, 15em + 12vw, 600px);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 0.5em;
  column-gap: 1em;
}

.footer__dates {
  padding-right: 0.4em;
}

a {
  text-decoration: none;
  color: var(--light-bg-color);
}

.footer__links {
  font-size: 1rem;
  padding-top: 0.2em;
}

.footer__link + .footer__link {
  padding-left: 0.5em;
}

@media (min-width: 350px) {
  .hero__container {
    background-image: linear-gradient(transparent 0%, var(--dark-bg-color) 30%), url('./assets/heroImage.jpg');
  }
}

@media (min-width: 440px) {
  .hero__container {
    background-image: linear-gradient(transparent 0%, var(--dark-bg-color) 40%), url('./assets/heroImage.jpg');
  }
}


@media (min-width: 650px) /*and (orientation: landscape) /* and (max-height: 600px)*/ {

  .hero__container {
    background-image: linear-gradient(transparent 0%, var(--dark-bg-color) 50%), url('./assets/heroImage.jpg');
  }

  .info {
    font-size: 1.2rem;
  }

  .fetchedInfo {
    /* border: 1px solid red; */
    min-height: 100%;
    margin: 1rem 0.5rem;
    /* padding: 1rem 0; */
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* column-gap: 1%; */
  }

  .imageInfo {
    /* padding: 0; */
    width: 30%;
    height: 100%;
    justify-content: space-around;
    /* align-self: center; */
    gap: 0.5rem;
  }

  .imageContainer {
    width: 90%;
  }

  .navContainer {
    width: 95%;
    /* padding: 0;
    margin: 0; */
  }

  .navDots {
    /* padding: 0; */
    /* margin: 0; */
    height: 3vw;
    width: 80%;
  }

  .arrow {
    font-size: 1.2rem;
  }

  .detailsContainer {
    flex-wrap: nowrap;
    height: 100%;
    width: 65%;
    max-width: 600px;
  }

  .ingredients {
    width: max-content;
  }
  
  .itemContainer {
    padding: 1.4rem;
  }
  

  .itemGrid span {
    font-size: 0.8rem;
  }

  #actualInstructions {
    font-size: 0.8rem;
  }

}

@media (min-width: 720px) {
  .hero__container {
    background-image: linear-gradient(transparent 0%, var(--dark-bg-color) 65%), url('./assets/heroImage.jpg');
  }
}

@media (min-width: 1200px) {
  .hero__container {
    background-image: linear-gradient(to right, var(--dark-bg-color) 55%, transparent, var(--cream-color) 90%), url('./assets/heroImage.jpg');
    /* background-image: linear-gradient(transparent 0%, var(--dark-bg-color) 30%), url('./assets/heroImage.jpg'); */
    background-position: right;
    background-size: auto 100%;
  }
}